body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
}

.header {
    height: 100px;
    width: 1024px;
    background: linear-gradient(to right, var(--bg-color) 70%, transparent 70%) right,
    var(--addtional-bg-color);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: start;
    color: var(--text-color);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}